@model App.Domain.Evidences.Evidence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evidence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvidenceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvidenceType!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleViolation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleViolation!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.File)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.File))
            {
               // <img src="@Url.Content("~/uploads/155af266-b835-4905-8eeb-6600e644a0b4_Screenshot_1.png")" alt="Evidence Image" style="height:250px;width:500px;" />
                <img src="@Url.Content(Model.File)" alt="Evidence Image" style="height:250px;width:500px;" />
            }
            else
            {
                <p>No image available</p>
            }
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
